/*--Jumbotron Container--*/

.jumbotron {
    height: 930px;
    max-width: 1300px;
    margin: auto;
    margin-top: 10px;
}
#scifi-style {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
}
body {
    background-image: url(../images/scifi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#quiz {
    font-size: 24px;
    line-height: 135%;
}
#timer {
    text-align: center;
    color: red;
    font-size: 30px;
}
#results {
    color: blue;
    text-align: center;
    font-size: 44px;
    margin-top: 140px;
}
.start-button {
    width: 50%;
    margin: auto;
    margin-top: 240px;
}
.answers {
    letter-spacing: 1px;
}




