/*--Jumbotron Container--*/

.jumbotron {
    height: 920px;
    max-width: 1300px;
    margin: auto;
    margin-top: 10px;
}
#scifi-style {
    text-align: center;
    font-size: 60px;
}
body {
    background-image: url(../images/scifi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#quiz {
    font-size: 24px;
    line-height: 135%;
}
#timer {
    text-align: center;
    color: red;
    font-size: 30px;
}



