/*--Jumbotron Container--*/

.jumbotron {
    height: 900px;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}
#scifi-style {
    text-align: center;
    font-size: 90px;
}
body {
    background-image: url(../images/scifi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#quiz {
    font-size: 24px;
    line-height: 120%;
}
#timer {
    text-align: center;
    color: red;
    font-size: 30px;
}



